In [1]:
import numpy as np
import pandas as pd
import matplotlib as mp 
import seaborn as sns

In [2]:
df = pd.read_csv('resto.csv')

#1) Se renseigner sur ce qu’est un KPI 

Ce qu'on appelle les KPI ce sont des indicateurs clé de performance

3) Regardez les 10 premières lignes du dataset

In [3]:
df.head(10)

,Unnamed: 0,order_id,quantity,item_name,choice_description,item_price
0,0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,1,Izze,[Clementine],$3.39
2,2,1,1,Nantucket Nectar,[Apple],$3.39
3,3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,6,3,1,Side of Chips,NaN,$1.69
7,7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

4) Quelle est la taille de notre dataset ?

In [5]:
df.size

27732

5)  Affichez toutes les colonnes de notre dataset

In [7]:
df.columns

Index(['Unnamed: 0', 'order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

6) Quel est l’item le plus commandé

- Chips and Fresh Tomato Salsa

In [14]:
df.sort_values(by=['quantity'], ascending=False)

,Unnamed: 0,order_id,quantity,item_name,choice_description,item_price
3598,3598,1443,15,Chips and Fresh Tomato Salsa,NaN,$44.25
4152,4152,1660,10,Bottled Water,NaN,$15.00
3887,3887,1559,8,Side of Chips,NaN,$13.52
3599,3599,1443,7,Bottled Water,NaN,$10.50
2441,2441,970,5,Bottled Water,NaN,$7.50
...,...,...,...,...,...,...
1592,1592,645,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25
1593,1593,645,1,Chips and Tomatillo Green Chili Salsa,NaN,$2.95
1594,1594,646,1,Carnitas Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$9.25
1595,1595,646,1,Chicken Burrito,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$11.25
4621,4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [10]:
df.groupby(['quantity']).sum()

          Unnamed: 0  order_id
quantity
1           10048393   4032682
2             511385    205258
3              72580     29105
4              29096     11652
5               2441       970
7               3599      1443
8               3887      1559
10              4152      1660
15              3598      1443

Combien d’items ont été commandés au total chez Chipotle

In [12]:
df.sum()

Unnamed: 0                                             10679131
order_id                                                4285772
quantity                                                   4972
item_name     Chips and Fresh Tomato SalsaIzzeNantucket Nect...
item_price    $2.39 $3.39 $3.39 $2.39 $16.98 $10.98 $1.69 $1...
dtype: object

Combien de chiffre d’affaire à realisé Chipotle ?